.idea
.env
.local.env
.dev.env
.log
Taskfile.yml
docs/note.txt


ProjectFlour/tmp/
ProjectFlour/temp/

ProjectFlour/config/local.yaml
ProjectFlour/config/dev.yaml
ProjectFlour/docs/note.txt
ProjectFlour/docs/selectel_review.png
ProjectFlour/docs/TODO_integration_test_template_maker_19102025.txt
ProjectFlour/Dockerfile.dev
ProjectFlour/docker-compose.yaml
ProjectFlour/Taskfile.yaml
ProjectFlour/.mockery.yml


master-flour/node_modules
master-flour/dist
master-flour/*.local
master-flour/docker-compose.yaml
master-flour/Taskfile.yaml

master-flour/Dockerfile.local
master-flour/docs/note.txt
